body{
    background-color: rgba(0, 0, 0, 0.646);
}
.container{
    text-align: center;
    width: 360px;
    padding: 33px;
    background-color: white;
    margin-left: 30%;
    margin-top: 70px;
}
input{
    width:270px ;
    padding: 7px;
    border: 2px solid darkgrey;
    outline: none;
    font-size: 15px;
}
button{
    width: 60px;
    height: 35px;
    background-color: darkgrey;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    border: none;
    outline: none;
}